// $mainFont: 'Josefin Slab', sans-serif;
$mainFont: 'Bree Serif', sans-serif;
$bodyFont: 'Raleway', sans-serif;
$mainGreen: #2fb1b6;

html {
    font-size: 125%;
}

.wrapper {
    max-width: 1180px;
    width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

h1{
    font-family: $mainFont;
    font-size: 3.5rem;
}

h2 , h3{
    font-family: $mainFont;
}

h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
    margin: 10px 0px;
    letter-spacing: 1.2px;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-family: $bodyFont;
}

a:focus {
    outline: dotted;
}

.comment-submit:focus {
    outline:dotted;
}