@media (max-width: 768px) {
  .main-nav ul {
    display: none;
  }
  .toggle-button {
    display: block;
  }

  .project-display {
    flex-direction: column;
  }

  .contact-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-container {
    min-height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .about-image-container {
    width: 80%;
  }
  .about-text-container {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 667px) {
  .skills-container ul li {
    margin: 10px 10px;
    font-size: 1.4rem;
    white-space: nowrap;
    flex: none;
    flex-wrap: wrap;
  }
}

@media (max-width: 514px) {
  .about-image-container {
    width: 70%;
  }

  .contact-left,
  .contact-right {
    width: 90%;
  }

  .comment-input {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 12px 0px;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 6.2rem;
  }
  p {
    font-size: 1.6rem;
  }
  .typed-p {
    font-size: 3.2rem;
  }

  .footer-text p {
    font-size: 1.2rem;
  }
}
