.skills-section {
    max-width: 60%;
}

.skills-container {
  text-align: center;
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li {
            margin: 30px;
            &:hover{
                color: $mainGreen;
            }
        p {
            margin: 0;
        }
        }
    }
}

.skills-container svg {
    height: 100px;
    width: 100px;
}

svg:hover{
    fill: gold;
}

.skills-list {
    border: 5px solid $mainGreen;
    border-radius: 2px;
}