.skills-container ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  li {
    margin: 10px 20px;
    white-space: nowrap;
    font-family: $bodyFont;
    flex: 1 0 20%;
    font-size: 1.6rem;
    i {
      margin-right: 10px;
    }
  }
}

.skills-container h3 {
  text-align: center;
}
